@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*,
body,
pre {
  font-family: "Pretendard Variable !important", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer utilities {
  .speech-bubble {
    position: relative;
    background: #24caff;
    border-radius: 12px;
    padding: 15px 20px;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-top-color: #24caff;
    border-bottom: 0;
    margin-left: -19px;
    margin-bottom: -19px;
  }
}
